@using Chess.Domain.Entities
@model Game

@{
    ViewData["Title"] = "Chess Application";
}

<head>
    <link href="~/css/GameBoard.css" rel="stylesheet" />
</head>

<div class="container mt-4">
    <div class="chess-board">
        @foreach (var cell in Model.Board.Cells)
        {
            var isHighlighted = cell.IsHighlighted ? "highlighted" : "";
            var piece = cell.Piece;
            var isActive = piece?.Color == Model.PlayerOnMove;
            var cellClasses = isActive ? "cell active-piece" : "cell";

            <div class="@cellClasses @isHighlighted"
            style="background-color:@cell.FieldColor;"
            data-x="@cell.Field.X" data-y="@cell.Field.Y">

                @if (Model.DebugMode)
                {
                    <div class="debug-coords">x=@cell.Field.X y=@cell.Field.Y</div>
                }
                @if (isHighlighted != "")
                {
                    <a asp-controller="Game"
                       asp-action="MovePieceTo"
                       asp-route-x="@cell.Field.X"
                       asp-route-y="@cell.Field.Y">
                    </a>
                }
                @if (piece != null)
                {
                    @if (isActive)
                    {
                        <a asp-controller="Game"
                           asp-action="SelectPiece"
                           asp-route-pieceId="@piece.Id">
                            <img class="piece-img" src="@piece.Image" draggable="false" />
                        </a>
                    }
                    else
                    {
                        <img class="piece-img" src="@piece.Image" draggable="false" />
                    }

                    @if (Model.DebugMode)
                    {
                        <div class="debug-id">ID: @piece.Id</div>
                    }
                }
            </div>
        }
    </div>

    <div class="text-center mt-4">
        <strong>Move:</strong> @Model.PlayerOnMove <br /><br />
        <strong>White Score:</strong> @Model.Players[0].Score<br />
        <strong>Black Score:</strong> @Model.Players[1].Score<br />
        <strong>Number of Players:</strong> @Model.NumberOfPlayers
    </div>
</div>
